<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcgill.ecse321.grocerystore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryStoreAndroid">
        <activity
            android:name=".ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.GroceryStoreAndroid.NoActionBar" />
        <activity
            android:name=".StaffScheduleActivity"
            android:exported="false"
            android:label="@string/title_activity_staff_schedule" />
        <activity
            android:name=".StaffCompletedOrderActivity"
            android:exported="false"
            android:label="@string/title_activity_completed_order" />
        <activity
            android:name=".StaffPaidOrderActivity"
            android:exported="false"
            android:label="@string/title_activity_paid_order" />
        <activity
            android:name=".StaffProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_staff_profile" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_profile" />
        <activity
            android:name=".PurchaseHistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_history" />
        <activity
            android:name=".StaffMainActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.GroceryStoreAndroid.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GroceryStoreAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>